{{!-- <h3>Test</h3>



{{!-- 
<section class="summary">

	{{#each auctions}}
		<div class="card">
			<img src="{{photoUrl}} alt="Avatar" style="width:100%" />
			<div class="container">
				<h4><b>{{name}}</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>

	{{/each }}

</section> --}}

<section class="summary">
	<div class="card">
		<img src="img_avatar.png" alt="Avatar" style="width:100%" />
		<div class="container">
			<h4><b>John Doe</b></h4>
			<p>Architect & Engineer</p>
		</div>
	</div>

</section>
<div>
    <span>{{auction.auctionName}}</span>
    <br>
    <span>Current Price:{{auction.currentPrice}}</span>
    <span>{{auction.description}}</span>
    <span><img src="{{auction.photoUrl}}" alt="an awesome coin"></span>

<a href="/auctions/{{auction.id}}/bid">Bid Here</a>
</div>
<div>
    {{#each bids}}
    <span>Amount: {{bidAmount}}</span>
    <br>
    <span>Address: {{walletAddress}}</span>
    <br>
    {{/each}}
</div> 