{{!-- <h3>Test</h3>

<div>
    <span>{{auction.auctionName}}</span>
    <span>{{auction.currentPrice}}</span>
    <span>{{auction.description}}</span>
    <span><img src="{{auction.photoUrl}}" alt="an awesome coin"></span>
</div>

<div>
    {{#each bids}}
    <span>{{bidAmount}}</span>
    <span>{{walletAddress}}</span>
    {{/each}}
</div> --}}

{{!-- 
<section class="summary">

	{{#each auctions}}
		<div class="card">
			<img src="{{photoUrl}} alt="Avatar" style="width:100%" />
			<div class="container">
				<h4><b>{{name}}</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>

	{{/each }}

</section> --}}

<section class="summary">
	<div class="card">
		<img src="img_avatar.png" alt="Avatar" style="width:100%" />
		<div class="container">
			<h4><b>John Doe</b></h4>
			<p>Architect & Engineer</p>
		</div>
	</div>

</section>