{{!-- <h3>Test</h3>

<div>
    <span>{{auction.auctionName}}</span>
    <span>{{auction.currentPrice}}</span>
    <span>{{auction.description}}</span>
    <span><img src="{{auction.photoUrl}}" alt="an awesome coin"></span>
</div>

<div>
    {{#each bids}}
    <span>{{bidAmount}}</span>
    <span>{{walletAddress}}</span>
    {{/each}}
</div> --}}

{{!-- 
<section class="summary">

	{{#each auctions}}
		<div class="card">
			<img src="{{photoUrl}} alt="Avatar" style="width:100%" />
			<div class="container">
				<h4><b>{{name}}</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>

	{{/each }}

</section> --}}

<section class="auction">
	<div class="auction-details-card">
		<img src="{{auction.photoUrl}}" alt="{{auction.photoUrl}}" />
		<div class="card-container">

			<h4><b>John Doe</b></h4>
			<p>Current Price: {{auction.currentPrice}}</p>
			<p>{{auction.description}}</p>

			<div class="bids">
				{{#each bids}}
					<p>{{bidAmount}}</p>
					<p>{{walletAddress}}</p>
				{{/each}}
			</div>

		</div>

	</div>

</section>