<h2>add a bid</h2>

<form method="POST" action="/auctions/{{id}}/bid" class="">
<input type="hidden" name="auctionId" value="{{auction.id}}">
<input type="hidden" name="userId" value="{{userId}}">
  <label for="name" class="">
    <span class="form-label">Bid</span>
    <input
      type="text"
      id="amount"
      name="amount"
      placeholder="{{auction.currentPrice}}"
      value="{{amount}}"
      class="form-input">
  </label>

  <label for="name" class="">
    <span class="form-label">Address</span>
    <input
      type="text"
      id="address"
      name="address"
      placeholder=""
      value="{{walletAddress}}"
      class="form-input">
  </label>

  <button class="form-button">BID</button>
</form>